<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clase 4</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Clase 4</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
        voluptatibus, nemo quo quis, cum dignissimos voluptates maxime natus,
        eaque in ut. Dolorum et tenetur eaque porro eum molestias quam
        perspiciatis?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo autem
        dolorem vel iusto commodi animi nulla perferendis tempora ex, ut saepe
        molestiae, esse tempore vitae. Delectus nesciunt porro aut natus?
      </p>
    </main>
    <footer></footer>
  </body>
</html>
